.links {
  margin: 10px;
  font-size: 20px;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 700;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: black;
}

.links:visited {
  text-decoration: none;
  color: black;
}

.links::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: black;
  opacity: 0;
  border-radius: 25px;
  transition: opacity 300ms, transform 300ms;
}

.links:hover::after,
.links:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

@media only screen and (min-width: 820px) {
  .links {
    font-size: 40px;
  }
}
