@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

.projects {
  margin: 5vh;
  text-align: center;
}

.name {
  font-family: "Zen Kurenaido", sans-serif;
  cursor: pointer;
}

.external_link {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .name {
    font-size: 25px;
  }
}
