@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

.projects {
  margin-bottom: 5vh;
  text-align: center;
}

.name {
  font-family: "Zen Kurenaido", sans-serif;
  cursor: pointer;
}

.external_link {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 667px) {
  .name {
    font-family: "Zen Kurenaido", sans-serif;
    cursor: pointer;
    font-size: 20px;
  }
}

@media only screen and (min-width: 820px) {
  .name {
    font-size: 50px;
  }
}

@media only screen and (min-height: 700px) {
  .name {
    font-size: 40px;
  }
}

