.name_titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 5vh; */
}



.headers {
  margin: 10px;
  font-size: 35px;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 700;
}


.project_names {
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}







