.name_titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5vh;
}

.lotus {
  width: 10vw;
}

.headers {
  margin: 10px;
  font-size: 35px;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 700;
}

.back {
  margin: 2vh;
  font-family: "Zen Kurenaido", sans-serif;
  color: black;
  text-decoration: none;
}

.back:visited {
  color: black;
}

.background_pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  height: 95vh;
  width: 90vw;
}

.footer {
  margin-bottom: 5vh;
}

.project_names {
  /* width: 100vw; */
  /* border: 1px solid red; */
  height: 65vh;
  display: flex;
  align-items: center;
}

.mountain {
  width: 40vw;
}

.tree {
  width: 230px;
}

