.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modal-reverse 1s 1 ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.modal.show {
  animation: modal-movement 1s 1 ease-in-out;
  pointer-events: visible;
  opacity: 1;
}

@keyframes modal-movement {
  from {
    height: 0;
  }
  to {
    height: 100vh;
  }
}

@keyframes modal-reverse {
  from {
    height: 100vh;
  }
  to {
    height: 0;
  }
}

.modal-content {
  width: 500px;
  background-color: white;
  /* transform: translateY(-50px);
  transition: all 2s ease-in-out; */
}

/* .modal.show .modal.content {
  transform: translateY(0);
} */

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
