@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

html {
  scroll-behavior: smooth;
}

.background {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  height: 500px;
  margin: 150px;
}

.name {
  margin: 10px;
  font-size: 40px;
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 900;
}

@media screen and (max-width: 900px) {
  .circle {
    height: 300px;
    margin: 100px;
  }
}

@media screen and (max-width: 500px) {
  .circle {
    height: 200px;
    margin: 80px;
  }

  .name {
    font-size: 30px;
  }

  .background {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
}
