@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

.form_inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form {
  text-align: center;
  font-family: "Zen Kurenaido", sans-serif;
}

.input {
  width: 230px;
}

.message {
  height: 50px;
  width: 230px;
}

.button {
  color: white;
  background: black;
  font-size: 90%;
  border: none;
  width: 75px;
  height: 35px;
  border-radius: 12px;
}

.button:hover {
  cursor: pointer;
}

.tree {
  width: 250px;
}

@media only screen and (min-width: 667px) {
  .query_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    justify-content: space-between;
  }

  .tree {
    width: 300px;
    margin: 20px;
  }

  .button {
    height: 30px;
  }

  .message {
    height: 40px;
  }
}

@media only screen and (min-width: 820px) {
  .query_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .tree {
    width: 400px;
    margin-top: 75px;
  }

  .form {
    font-size: 30px;
  }

  .input {
    width: 400px;
    height: 40px;
    font-size: 25px;
  }

  .message {
    width: 400px;
    height: 150px;
    font-size: 25px;
  }

  .button {
    height: 50px;
  }
}